@font-face {
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/PT_Sans-Web-Bold.ttf);
  font-family: ptsans-bold;
}
@font-face {
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/PFSquareSansPro-Regular.otf);
  font-family: pfs-regular;
}
@font-face {
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/PFSquareSansPro-Medium.otf);
  font-family: pfs-medium;
}
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  overflow: hidden;
}

.scene {
  height: 100%;
}

.heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 100;
  color: #0d3932;
  opacity: 0.9;
}
.heading-about {
  width: 20vw;
  position: absolute;
  top: 47%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 100;
  color: #0d3932;
  opacity: 0.9;
  cursor: pointer;
}

.nav-1 {
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content:space-between
}
.nav-2 {
  position: absolute;
  left: 50%;
  top: 95%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
}

nav > a {
  width: 20vw;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: #0d3932;
  text-decoration: none;
  letter-spacing: -1px;
  transition: 700ms ease;
  font-variation-settings: "wght" 500;

}
nav > a:hover {
  font-variation-settings: "wght" 800; 
  letter-spacing: 1px;
}

.img-cont {
  height: 80vh;
  width: 35vw;
  position: absolute;
  top: 10vh;
  left: 50%;
  background-size: cover;
  transition: margin 1s cubic-bezier(0.99, 0.1, 0.35, 1.2);
  will-change: margin;
  z-index: 10;
}

.img-cont.left {
  margin-left: calc(-35vw - 50px);
}
.img-cont.right {
  margin-left: 50px;
}
.img-cont.cont-1 {
  background: url("../images/Fuel-4.jpg") 50% 50% no-repeat fixed;
}

.about-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  height: 30vh;
  width: 80vw;
  top: 10%;
  left: 10%;
  margin-right: 15%;
}
.about-1 > p {
  font-family: 'Raleway', sans-serif;
  font-variation-settings: "wght" 500;
  width: 40vw;
}
.about-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  height: 30vh;
  width: 80vw;
  top: 55%;
  left: 10%;
  margin-right: 15%;
}
.about-2 > p {
  font-family: 'Raleway', sans-serif;
  font-variation-settings: "wght" 500;
  width: 40vw;
}
.portrait{
  height: max-content;
  border-radius: 50%;
  /* margin: 5vh; */
}

.menu-1 {
  position: absolute;
  top: 10%;
  left: 15%;
  height: 80vh;
  border: .5vw solid rgba(13, 57, 50, 0.9);
}
.menu-2 {
  position: absolute;
  top: 10%;
  left: 55%;
  height: 80vh;
  border: .5vw solid rgba(13, 57, 50, 0.9);
}
iframe {
  position: absolute;
  top: 18%;
  left: 65%;
}
.instagram-widget {
  position: absolute;
  top: 10%;
  left: 15%;
}
